<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/home-style.css' %}">
    <title>Strona Główna</title>
    <style>
       
    </style>
</head>
<body>
    <div id="navbar">
        <div>
            <a href="/login">Login</a>
            <a href="/lobby">Lobby</a>
        </div>
    </div>

    <main>
        <div class="user-panel">
            <h2>Panel Użytkownika</h2>
            <p>Nazwa:</p>
           
          
        </div>
    </main>

    <footer>
        &copy;
    </footer>
</body>
</html>
