<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/home-style.css' %}">
    <title>Strona Główna</title>
</head>
<body>
    <div id="navbar">
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'user_logout' %}">Wyloguj się</a> <!-- Link do wylogowania dla zalogowanych użytkowników -->
            {% else %}
                <a href="{% url 'user_login' %}">Zaloguj się</a> <!-- Link do logowania dla niezalogowanych użytkowników -->
                <a href="{% url 'register'%}">Zarejestruj się</a><!-- Link do Rejestracji dla niezalogowanych użytkowników -->
            {% endif %}
            <a href="/lobby">Lobby</a>
        </div>
    </div>

    <main>
        <div class="user-panel">
            <h2>Panel Użytkownika</h2>
            {% if user.is_authenticated %}
                <p>Nazwa: {{ user.username }}</p>
            {% else %}
                <p>Nie jesteś zalogowany.</p>
            {% endif %}
        </div>
    </main>

    <footer>
        &copy;
    </footer>
</body>
</html>
