.board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-height: 450px;
    max-width: 450px;
    min-height: 450px;
    min-width: 450px;
}

.board-space {
    min-height: 50px;
    min-width: 50px;
    margin:-1px;
    padding:0;
    float:left;
    border:1px solid gray;
    background-color: whitesmoke;
    
}

.inRange {
    background-color: aqua;
}

.selected {
    background-color: green;
}
.ATK {
    position: absolute;
    top: 10%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, 5%);
    pointer-events: none;
}

.HP {
    position: absolute;
    top: 10%;
    left: 83%;
    margin-right: -45%;
    transform: translate(-50%, 5%);
    pointer-events: none;
}

.toAttack {
    background-color: rgba(255, 174, 120, 0.5);
}

.attackOnly {
    background-color: red;
}

.spawnableTile {
    background-color: yellowgreen;
}

.hoverOverTargets {
    background-color: purple;
}

.image {
    max-width: 45px;
    max-height: 45px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 5%);
    pointer-events: none;
}

.Container {
    min-width: 50px;
    min-height: 50px;
    background-color: yellowgreen;
}