<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'game/game-style.css' %}">
    {{ game_id|json_script:"game_id" }}
    {{ user.username|json_script:"username" }}
    <title>Game {{ game_id }}</title>
</head>
<body>
    <div class="grid board-container"></div>
    <div class="detailsPanel">
        <h2 class="detailsName">Building Panel</h2>
        <hr>
        <p> Atk <a class="detailsAtk"></a></p>
        <p> HP <a class="detailsHPCurrent"></a>/<a class="detailsHPMax"></a></p>
        <hr>
        <div class="unitsMenu"></div>
        <hr>
        <div class="buildingMenu"></div>
    </div>
    <button class="endTurn" onclick="endTurn()">End Turn</button>
    <script src="{% static 'game/game.js' %}"></script>
    <script src="{% static 'game/classes.js' %}"></script>
    <script src="{% static 'game/selectors.js' %}"></script>
</body>
</html>