{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login/login-style.css' %}">
</head>
<body>
    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Hasło:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Zaloguj się</button>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>
