<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="{% static 'lobby/lobby-style.css' %}">
    {{ user.id|json_script:"id" }}
   <style ></style>
</head>
<body>
    
<div id="lobbyContainer">
    <div id="leftPanel">

        <button id="toggleButton" onclick="togglePanel()">Toggle</button>
        <div id="lobbyList">

            
            <button class="lobbyItem" onclick="createLobby()">Create lobby</button>
        </div>
    </div>
    <div id="rightPanel">
        <div id="lobbyDetails">
           <!-- Lobby items will be dynamically added here -->
            
        </div>
        <div id="actionButtons">
            <!-- Buttons will be dynamically added here -->
        </div>
    </div>
</div>
<script src="{% static 'lobby/lobby2.js' %}"></script>
<script src="{% static 'lobby/lobby-channels.js' %}"></script>
</body>
</html>
